Variables

In [1]:
x

NameError: name 'x' is not defined

In [2]:
x = 10

In [3]:
y = 12

In [4]:
x + y

22

In [5]:
x * y

120

In [6]:
Y

NameError: name 'Y' is not defined

In [7]:
Y = 20

Data Types

1) Numbers

In [8]:
x = 10     #integer

In [9]:
type(x)    #checking datatype integer

int

In [10]:
x = 10.25   #float

In [11]:
type(x)    #checking datatype float

float

In [12]:
x = 10j    #complex

In [13]:
type(x)     #checking datatype complex

complex

In [14]:
num = 10 > 9    #bool

In [15]:
type(num)      #checking datatype boolean

bool

In [16]:
num     #printing bool value

True

2) String

In [18]:
name = 'gurinder'    #string

In [19]:
len(name)        #length of string

8

In [20]:
name[2]        #printing third value from a string

'r'

In [21]:
name[2] = 'u'

TypeError: 'str' object does not support item assignment

In [22]:
name[2:8]

'rinder'

In [23]:
name[2:7]

'rinde'

In [24]:
name[2:6]

'rind'

In [25]:
name.upper()

'GURINDER'

In [26]:
name.lower()

'gurinder'

In [27]:
name[-2]

'e'

In [28]:
name[5]

'd'

3) List

In [1]:
mylist = [10,20,30,30,'gurinder','courses']

In [2]:
mylist

[10, 20, 30, 30, 'gurinder', 'courses']

In [3]:
mylist[2:5]

[30, 30, 'gurinder']

In [4]:
mylist[2] = 35

In [5]:
mylist

[10, 20, 35, 30, 'gurinder', 'courses']

In [8]:
mylist.append(10)

In [9]:
mylist

[10, 20, 35, 30, 'gurinder', 'courses', 0, 10]

In [11]:
mylist.insert(5, 100)

In [12]:
mylist

[10, 20, 35, 30, 'gurinder', 100, 100, 'courses', 0, 10]

In [13]:
mylist.reverse()

In [14]:
mylist

[10, 0, 'courses', 100, 100, 'gurinder', 30, 35, 20, 10]

4) Dictionary

In [15]:
courses = {1:'python',
2:'data science',
'third':'machine learning'}

In [16]:
courses['third']

'machine learning'

In [17]:
courses.get('third')

'machine learning'

In [18]:
courses['third'] = 'hadoop'

In [19]:
courses

{1: 'python', 2: 'data science', 'third': 'hadoop'}

In [20]:
courses['four'] = 'machine learning'

In [21]:
courses

{1: 'python', 2: 'data science', 'third': 'hadoop', 'four': 'machine learning'}

5) Tuple

In [22]:
animals = (10,10,20,'tiger','lion','giraffe','tiger')

In [23]:
animals[2]

20

In [24]:
animals.count('tiger')

2

6) Set

In [25]:
myset = {10,20,30,40,40,30,'gurinder','courses'}

In [26]:
myset

{10, 20, 30, 40, 'courses', 'gurinder'}

In [27]:
myset[2]

TypeError: 'set' object is not subscriptable

In [28]:
range(10)

range(0, 10)

In [29]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
a = [1,2,3,4]

In [31]:
b = [4,5,6,4,6]

In [32]:
c = [a,b]

In [33]:
c

[[1, 2, 3, 4], [4, 5, 6, 4, 6]]

In [34]:
x = 10

In [35]:
name = 'name'

In [36]:
x + name

TypeError: unsupported operand type(s) for +: 'int' and 'str'